<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="exampleBean" class="org.mallen.test.springframework.annotation.based.ExampleBean"/>
    <bean id="anotherExampleBean" class="org.mallen.test.springframework.annotation.based.AnotherExampleBean"/>
    <bean id="resourceBean" class="org.mallen.test.springframework.annotation.based.ResourceBean"/>
    <bean class="org.mallen.test.springframework.annotation.based.QualifierBean">
        <qualifier value="max"/>
        <property name="name" value="max"/>
    </bean>
    <bean class="org.mallen.test.springframework.annotation.based.QualifierBean">
        <qualifier value="min"/>
        <property name="name" value="min"/>
    </bean>
    <context:annotation-config />
</beans>